<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>
        <%= pageTitle %>
    </title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Bootstrap Select Css -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <%- include('../includes/loader-style.ejs') %>
</head>

<body class="theme-blue right_icon_toggle">
    <!-- Page Loader -->
    <div class="LW">
        <div class="L">Loading...</div>
    </div>

    <!-- Left Sidebar -->
    <%- include('../includes/side-panel.ejs') %>

        <!-- Main Content -->
        <section class="content">
            <div class="body_scroll">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-12">
                            <h2>Stations Page</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Admin Panel</a>
                                </li>
                                <li class="breadcrumb-item active">Pages</li>
                                <li class="breadcrumb-item active">Stations Page</li>
                            </ul>
                            <button class="btn btn-primary btn-icon mobile_menu" type="button">
                            <i class="zmdi zmdi-sort-amount-desc"></i>
                        </button>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <!-- Example Tab -->
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="header">
                                    <h2><strong>Add</strong> Station</h2>
                                    <ul class="header-dropdown">
                                        <li class="remove">
                                            <button id="addStation" class="btn btn-primary" style="position:relative;top:-1rem">
                                            <i style="color: white;" class="zmdi zmdi-hc-fw"></i> ADD</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="body">
                                    <div class="table-responsive">
                                        <table id="stationsTable" class="table table-hover theme-color mb-0 table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th style="text-align: center;">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal Dialogs ====== -->
        <div class="modal fade" id="stationModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="loader-wrapper" style="display: none; position: absolute;">
                    <div class="loader">
                        <div class="m-t-30"><img class="zmdi-hc-spin" src="/assets/images/loader.svg" width="48" height="48" alt="Aero"></div>
                        <p>Please wait...</p>
                    </div>
                </div>
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="title text-center" id="defaultModalLabel">Add a Station</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row clearfix">
                            <div class="col-12">
                                <div id="stationNameError">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input id="stationName" type="text" class="form-control" placeholder="Station Name" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn waves-effect" data-dismiss="modal">CLOSE</button>
                        <button type="button" class="btn btn-primary waves-effect">SAVE CHANGES</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jquery Core Js -->
        <%- include('../includes/bottom-scripts.ejs') %>
            <script src="/ajax/stations.js"></script>
</body>

</html>