<!DOCTYPE HTML>

<head>
    <title>BayRoute Water Taxi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/website/contact-us/template.css" rel="stylesheet">
    <link href="/website/contact-us/contact-us-STYLESHEET.css" rel="stylesheet">
</head>

<body>
    <div class="container" id="google_translate_element">
        <div style="text-align: center;">
            <img id="logo" src="/website/icons/logo.png" alt="logo">
        </div>
        <br>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse nav-fill" id="collapsibleNavbar">
                <a class="nav-link nav-item" href="/">Home<span class="sr-only">(current)</span></a>
                <a class="nav-link nav-item" href="/tickets-and-offers">Tickets & Offers</a>
                <a class="nav-link nav-item" href="/schedule">Schedule</a>
                <!-- <a class="nav-link nav-item" href="/destinations">Destinations</a> -->
                <a class="nav-link nav-item" href="/contact-us">Contact Us</a>
                <a class="nav-link nav-item" href="/about-us">About Us</a>
            </div>
        </nav>
        <br>
        <br>
        <!-- The 3 Cards -->
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="PositionRelative">
                            <p class="card-title"> Get in touch</p>
                            <img class="card-img-top" src="/website/icons/phone.png" alt="phone"></div>
                        <p>We’re ready to receive your calls 24/7 on the hotline:
                            <a class="telephone" href="tel:2020" title="2020">2020</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="PositionRelative">
                            <p class="card-title">Pay us a visit</p>
                            <img class="card-img-top" src="/website/icons/location.png" alt="location"></div>
                        <p> Building I, Learning Center, Rafik Hariri University. Mechref, Mount Lebanon </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="PositionRelative">
                            <p class="card-title">Send us an email</p>
                            <img class="card-img-top" src="/website/icons/email.png" alt="email">
                        </div>
                        <p>Drop an email at
                            <a class="email" href="mailto:joudima@students.rhu.edu.lb">info@bayroutetaxi.com</a>. We’ll make sure to reply ASAP! </p>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
        <form class="text-center border border-light p-5" style="padding-top: 0% !important;">
            <p class="h1 mb-4" style="color:rgb(13,66,143);">Give Us Feedback!</p>
            <input name="" type="text" placeholder="Name" class="form-control mb-4" required>
            <!-- Email -->
            <input type="email" placeholder="E-mail" class="form-control mb-4" required>
            <!-- Subject -->
            <select class="browser-default custom-select mb-4">
                <option value="" disabled selected>Choose Option</option>
                <option value="1" >Feedback</option>
                <option value="2">Report an issue</option>
                <option value="3">Business purpuses</option>
                <option value="4">Feature request</option>
            </select>
            <!-- Message -->
            <div class="form-group">
                <textarea class="form-control rounded-0" rows="3" placeholder="Your Message..." required></textarea>
            </div>
            <!-- Copy -->
            <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy" name="wantsACopy">
                <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
            </div>
            <!-- Send button -->
            <button class="btn btn-info btn-block" type="submit">Send</button>
        </form>
        <div id="footer" class="row">
            <div class="col">
                <h4 style="text-align: justify; color: rgb(255, 209, 0);">Contact Us</h4>
                <p id="footer-contact">Tel: 81739058 <br> Email: info@bayroutetaxi.com</p>
            </div>
            <div class="col">
                <p style="margin-top: 40%; color:rgb(255, 209, 0)">&copy; Copyright 2020 BayRoute Water Taxi</p>
            </div>
            <div class="col">
                <h4 style="text-align: right; color: rgb(255, 209, 0);">Follow Us</h4>
                <div id="social-btns">
                    <img src="/website/icons/fb.png" style=" width:10%; text-align: right;" alt="FB">
                    <img src="/website/icons/insta.png" style=" width:10%; text-align: right;" alt="IG">
                    <img src="/website/icons/twitter.png" style=" width:10%; text-align: right;" alt="Twitter">
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="/ajax/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script>
        // AJAX CALL
    </script>
</body>

</html>